#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin: 2rem;
}
.header {
  margin: 0 2rem;
}
.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80vw;
  width: 100%;
  border: 1px solid grey;
  padding: 3rem;
  margin: 2rem 0rem;
  border-radius: 20px;
}
#navItem,
#basic-navbar-nav {
  margin: 0 2rem;
}
.card {
  margin: 1rem;
  border: 1px solid grey;
}
